<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/aterrizar</property>
		<property name="connection.username">persistencia</property>
		<property name="connection.password">persistencia</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		
		<property name="hibernate.hbm2ddl.auto">create-drop</property>

		<mapping class="service.User"/>
 		<mapping class="asientoServicio.Compra"/>
		<mapping class="asientoServicio.Reserva"/>
		<mapping class="aereolinea.Asiento"/>
		<mapping class="aereolinea.Tramo"/>
		<mapping class="categorias.Categoria"/>
		<mapping class="categorias.Business"/>
		<mapping class="categorias.Primera"/>
		<mapping class="categorias.Turista"/>
		<mapping class="aereolinea.Destino"/> 
	
	</session-factory>
</hibernate-configuration>