<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/aterrizar</property>
		<property name="connection.username">persistencia</property>
		<property name="connection.password">persistencia</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		
		<property name="hibernate.hbm2ddl.auto">create-drop</property>

		<mapping class="service.User"/>
 		<mapping class="asientoServicio.Compra"/>
		<mapping class="asientoServicio.Reserva"/>
		<mapping class="asientoServicio.EstadoDeReserva"/>
		<mapping class="asientoServicio.Comprado"/>
		<mapping class="asientoServicio.Expiro"/>
		<mapping class="asientoServicio.Validado"/>
	
		<mapping class="aereolinea.Asiento"/>
		<mapping class="aereolinea.Tramo"/>
	 	<mapping class="categorias.Categoria"/>
		<mapping class="categorias.Business"/>
		<mapping class="categorias.Primera"/>
		<mapping class="categorias.Turista"/>
		<mapping class="aereolinea.Destino"/> 
		<mapping class="Busqueda.Busqueda"/> 
		<mapping class="Busqueda.Filtro"/> 
		<mapping class="Busqueda.FiltroSimple"/> 
		<mapping class="Busqueda.FiltroCompuesto"/> 
		
		<mapping class="Busqueda.Campo"/>
		<mapping class="Busqueda.CampoAerolinea"/> 
		<mapping class="Busqueda.CampoCategoria"/> 
		<mapping class="Busqueda.CampoDestino"/> 
		<mapping class="Busqueda.CampoOrigen"/> 
		<mapping class="Busqueda.FechaDeLlegada"/> 
		<mapping class="Busqueda.FechaDeSalida"/>  
		<mapping class="Busqueda.Criterio"/> 
		<mapping class="Busqueda.Costo"/> 
		<mapping class="Busqueda.Escala"/> 
		<mapping class="Busqueda.Duracion"/> 
		<mapping class="Busqueda.Orden"/> 
		<mapping class="Busqueda.Ascendente"/> 
		<mapping class="Busqueda.Descendente"/> 
		<mapping class="aereolinea.Vuelo"/> 
		<mapping class="aereolinea.Aereolinea"/> 
	
	</session-factory>
</hibernate-configuration>